.lets-talk {
  background: linear-gradient(145deg, #f5f5f5, #c5c4c4);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.05);
  color: black;
  padding: 60px 0;
  text-align: center;
  width: 800px;
  margin-top: 40px;
}

.lets-talk h2 {
  color: rgb(66, 3, 63);
  margin-bottom: 20px;
}

.lets-talk p {
  font-size: 1.2rem;
  color: black;
  max-width: 600px;
  margin: 0 auto 30px auto;
}

.talk-btn {
  background-color: rgb(91, 205, 209);
  color: black;
  padding: 14px 28px;
  font-size: 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  display: inline-block;
}

.talk-btn:hover {
  background-color: rgb(65, 160, 170);
  transform: scale(1.05);
}

/* Responsive */
@media (min-width: 481px) and (max-width: 768px) {
  .lets-talk{
    width: 400px;
    margin-left: 15%;
  }
  .lets-talk h2 {
    font-size: 1.4rem;
  }

  .lets-talk p {
    font-size: 1rem;
    padding: 0 10px;
  }
}